---
name: build-project
description: Build a target project into an opentaint project model. Use whenever a fresh opentaint project model needed
license: Apache-2.0
metadata:
  author: opentaint
  version: "{{ version }}"
---

{% include "sections/preamble.md" %}

## Inputs

{% include "sections/input.md" %}

## Workflow

{% include "sections/workflow.md" %}

## Output

{% include "sections/output.md" %}

## Constraints

{% include "sections/constraints.md" %}
